# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and virtual environments
.venv/
env/
venv/
.pytest_cache/
.coverage
htmlcov/
.img2game2d/
.cache/

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.tmp

# Packaging / Distribution
build/
dist/
*.egg-info/
